<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/Home.css" %}">
  </head>
  <body>
    <h1>WELCOME TO MAKE MY HAPPY TOUR</h1>
       <ol>
      <li><a href="#">Summer Sand Beach Resort</a></li>
      <li><a href="#">River View Resort</a></li>
      <li><a href="#">River Roost Resort</a> </li>
      <li><a href="#">Amche Ghar Resort</a></li>
      <li><a href="#">Red Rock Resorts</a></li>
    </ol>
  </body>
</html>
