<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'mainapp:home' %}">Back<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <a href="#">
        <span href="" class="navbar-text">
          Logout
        </span>
        </a>
      </div>
    </nav>
    <div class="container" style="padding-top: 1em;">
      <div style="min-width:100%" class="row">
        <h1>{{ object.name }}</h1>
        <div style="margin-left:auto; margin-right:0;">
          {% if object.rating == 1 %}
          <button type="button" class="btn btn-danger">{{ object.rating }} &#11088;</button>
          {% endif %}
          {% if object.rating == 2 %}
          <button type="button" class="btn btn-danger">{{ object.rating }} &#11088;</button>
          {% endif %}
          {% if object.rating == 3 %}
          <button type="button" class="btn btn-primary">{{ object.rating }} &#11088;</button>
          {% endif %}
          {% if object.rating == 4 %}
          <button type="button" class="btn btn-success">{{ object.rating }} &#11088;</button>
          {% endif %}
          {% if object.rating == 5 %}
          <button type="button" class="btn btn-success">{{ object.rating }} &#11088;</button>
          {% endif %}
        </div>
      </div>
      <div class="">


      <img src="{{ object.picurl }}" style="min-width: 100%;margin: auto; height:400px;" alt="">
    </div></div>

    <br>
    <div class="container">
      <h2>About</h2>
      <p>{{ object.description }}</p>

    <strong>Address : </strong>&nbsp;{{ object.address }}
    <br>
    <strong>Phone : </strong>&nbsp;{{ object.phone }}
    </div>
    <br><br>
    <p style="text-align: center;"><a type="button" class="btn btn-success" href="{% url 'mainapp:reservation' pk=object.id %}">Reserve your Room now!!</a></p>

    <br><br><br>

  </body>
</html>
