<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Back<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <a href="#">
        <span href="" class="navbar-text">
          Logout
        </span>
        </a>
      </div>
    </nav>
    <div class="container" style="padding-top: 1em;">
      <div style="min-width:100%" class="row">
        <h1>Summer Sand Beach</h1>
        <div style="margin-left:auto; margin-right:0;">
          <button type="button" class="btn btn-primary">3 &#11088;</button>
        </div>
      </div>
      <div class="">


      <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/142/142009051.jpg" style="min-width: 100%;margin: auto; height:500px;" alt="">
    </div></div>

    <br>
    <div class="container">
      <h2>About</h2>
      <p>Summer Sands Beach Resort, located on the famous Ullal-Someshwar beach, is a resort that is a true retreat.

  Spreading across a campus of 15 acres, it has spacious rooms to suite every need, a Multi-cuisine Restaurant with an alfresco ambience , a 1000 foot beach front with the waves flirting with the fence as it were. The Swimming Pool, extensive lawns and coconut palms add to the serenity.

  The Resort rubs in peace, Indoor Club and Outdoor Sports such as Volleyball, Cricket, Badminton. Boat Cruises to the islands dotting the river and day picnics to St Mary’s Island, Bekal Fort, are a beach combers delight. Conference facility , live music on the weekends by the beach & Cultural Entertainment make it a popular Conference venue as well.

  The speciality of the Resort is the Sea Food and the ‘bonhomie’ atmosphere which accounts for the large number of frequent guests and visitors.

  ‘A Place Where Peace Finds You’</p>

    <strong>address : </strong>&nbsp;Journeez, Chota Mangalore, Ullal, Mangalore, Karnataka, India
    <br>
    <strong>Phone : </strong>&nbsp;+91 9480048888
    </div>
    <br><br><br>

  </body>
</html>
